html {
    overflow-y: scroll;
}

:root {
    overflow-y: auto;
    overflow-x: hidden;
}

:root body {
    position: absolute;
}

body {
    width: 100%;
    overflow: hidden;
}

.navBoos {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 1.481481rem;
    width: 100%;
    border-top: .009259rem solid #cccccc;
    font-size: .462963rem;
    z-index: 2;
    margin-bottom: .185185rem;


    .navlistoos {
        width: 100%;
        margin-top: .296296rem;
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding-bottom: .185185rem;
        background-color: #fff;

        .icon {
            display: block;
            font-size: .462963rem;
        }
    }
}

.icon {
    display: block;
    font-size: .462963rem;
}

.active {
    color: #ffffff;
}

.yuan {
    height: .462963rem;
    width: .462963rem;
    border-radius: 50%;
    color: #fff;
    background-color: #ff0000;
    font-size: .259259rem;
    line-height: .462963rem;
    text-align: center;
    position: fixed;
    right: 3.333333rem;
    bottom:1.111111rem;
    z-index: 2;
}