.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
    color: #40a9ff;
}

.login-form-button {
    width: 100%;
    margin-top: .555556rem;
}

.defrom {
    padding: .925926rem;
    padding-top: 0;
    // 
}

.rag {
    height: 100%;
    background-color: #fff;
    z-index: 6;
}

.ragheader {
    height: 1.388889rem;
    text-align: center;
    font-size: .555556rem;
    margin-top: .37037rem;

    .spanicon {
        float: left;
        color: #40a9ff;
        margin-left: .277778rem;
    }


}

.deimg {

    img {
        width: 100%;
    }
}




// .ant-page-header {
//     height: 1.4rem;
//     border-bottom: .03rem solid rgb(235, 237, 240);
//     padding: .09375rem;
// }

// .ant-page-header-heading {
//     margin: 0;

// }

// .ant-page-header-heading-title {
//     text-align: center;
//     font-size: .5rem;
// }

// .ant-input {
//     width: 70%;
//     border: none;
// }

// .ant-btn-danger {
//     float: right;
// }

// .in {
//     padding: .09375rem;
//     // border-bottom: .03rem solid rgb(235, 237, 240);
// }

// .ant-form {
//     width: 92%;
//     margin: 0 4%;
//     margin: 0 auto;
// }

// .ant-input-group-addon {
//     border: none;
//     background: none;
// }

// // span{
// //     font-size: smaller;
// //     color: #eee;
// // }
// .regp {
//     font-size: .26667rem;

//     text-align: center;
// }

// .wancheng {
//     // padding: .48rem;
//     margin-top: 0.48rem;
//     height: 1.333333rem;
//     color: #bbb;
//     background-color: #ddd;
//     font-size: .48rem;
// }