.icon{
    display: block;
    text-align: center;
    line-height: .37037rem;
    margin-left: .185185rem;
}
.text{
    display: block;
    // line-height: .166667rem;
}
.menu{
    // line-height: .12963rem;
    text-align: center;
}